{% extends 'demosocial/layout.html' %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <p>Hey {{username}},</p>
        <p id="mesg2"></p>
        <p id="mesg3"></p>
    </div>
    <div class="col-md-12" style="margin-top: 30px">
        <i id="icon-img" class="fa pull-right" style="font-size:100px"></i>
        <img class="pull-right img-responsive" src="" alt="" id="qr-img">
        <div class="clearfix"></div>
        <p id="info" class="pull-right"></p>
    </div>
</div>
<footer style="position: absolute;bottom: 10px;width: 90%">
	<div class="row">
		<div class="col-md-12">
			<a href="{% url 'home' %}" class="pull-right btn btn-danger">Quit</a>
		</div>
	</div>
</footer>
{% endblock %} 

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function() {
    setTimeout(function() {
        var authType = "{{auth_type}}";
        $("#mesg2").text('Click here to see the photo');
        var cText = "";
        switch(authType) {
            case "K":
                cText = "Gotta make sure its you";
                break;
            case "L":
                cText = "Make sure you are home";
                break;
            case "B":
                cText = "Do our secret thing";
                break;
            case "D":
                cText = "";
                break;
        }
        $("#mesg3").text(cText);
        $("#icon-img").addClass("fa-image");
    }, 2000);
    $("#icon-img").click(function(e) {
        e.preventDefault();
        createChallenge().then(getQRCode).then(poll).then(function(r) {
            if(r) {
                $("#qr-img").attr("src", "https://www.stagecoach.co.uk/Stagecoach/media/images/Parties/Mini%20Width/536x327-pop-party.jpg?width=536&height=326&ext=.jpg");
                $("#info").text("Cool picture");
            } else {
                $("#qr-img").attr("src", "https://cdn0.iconfinder.com/data/icons/shift-free/32/Error-128.png");
                $("#info").text("Sorry, thats not you!");
            }
        });
    });
});
</script>
{% endblock %}
