<div class="col-sm-12">
    <label for="">
        <input type="radio" name="auth_type" value="B" /> Behaviour Based
    </label>
    <div class="form-group form-group-modified">
        <div class="row">
            <div class="col-sm-12">
                <label for="orientation1">Select orientation</label>
                <select class="form-control" name="orientation" id="orientation1">
                    <option value=0>Portrait</option>
                    <option value=1>Upside down</option>
                    <option value=2>Landscape Left</option>
                    <option value=3>Landscape Right</option>
                </select>
            </div>
            <input type="hidden" name="touches" id="touches" />
            <input type="hidden" name="sessionToken" id="b-sessionToken" />
            <div class="col-sm-12">
                <label for="" style="margin-top: 10px">Touch points</label>
                <div class="row">
                    <div class="col-sm-12" id="portrait">
                        <table class="table table-bordered">
                            <tr>
                                <td>1</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>6</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-5" id="landscape">
                        <table class="table table-bordered">
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<style>
table td:hover {
    background-color: #81B6D5;
    color: #fff;
    cursor: pointer;
}

table td.clicked {
    background-color: #2B6282;
    color: #fff;
    cursor: pointer;
}
</style>

<script>
var touches = [];
$(document).ready(function() {

    $("#submit").click(function(e) {
        e.preventDefault();
        makeInitSessionCall().then(addBehaviourChallenge).then(getQRCode).then(poll);
    });
    $("table td").click(function() {
        if ($(this).hasClass('clicked')) {
            touches.splice(touches.indexOf($(this).text()), 1);
            $(this).removeClass("clicked");
        } else {
            $(this).addClass("clicked");
            touches.push($(this).text());
        }
        console.log(touches);
    });
    $("#landscape").hide();
    $("#orientation1").change(function() {
        var val = $(this).val();
        if (val <= 1) {
            $("#portrait").show();
            $("#landscape").hide();
        } else {
            $("#portrait").hide();
            $("#landscape").show();
        }
    })
});
</script>
