<!DOCTYPE html> {% load staticfiles %} {% csrf_token %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{% static 'demosocial/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'demosocial/css/custom.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <title>{% block title %}LiveEnsure&reg; SDK{% endblock %}</title>
    <script type="text/javascript" src="{% static 'demosocial/js/jquery-1.12.3.min.js' %}"></script>
    <script src="{% static 'demosocial/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'demosocial/js/app.js' %}"></script>
</head>

<body>
{% block headerbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header text-center">
                <a class="navbar-brand" href="#">
                    LiveEnsure
                </a>
            </div>
        </div>
    </nav>
{% endblock %}
    <div class="container-fluid">
        {% block content %} {% endblock %}
        
    </div>
    <script>
    var agentId = "{{agentId}}";
    var urls = {
        host: "",
        initSession: "{% url 'initSession' %}",
        getCode: "{% url 'getCode' %}",
        pollStatus: "{% url 'pollStatus' %}",
        createChallenge: "{% url 'createChallenge' %}"
    };

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    </script>
    {% block javascripts %}{% endblock %}
</body>

</html>
