<div class="" margin-left="15px">
    <div class="col-sm-12">
        <label for="">
            <input type="radio" name="auth_type" value="L" id="L-radio" /> Location Based
        </label>
        <div class="form-group form-group-modified">
            <div class="row row-margin">
                <div class="col-sm-12">
                    <input name="lat" value="{{lat}}" id="lat" class="form-control form-control-width" type="text" placeholder="lat">
                    <input name="lang" value="{{lang}}" id="lang" class="form-control form-control-width" type="text" placeholder="Lang">
                </div>
            </div>
            <div class="row row-margin">
                <div class="col-sm-12">
                    <div id="dvMap" class="map-container marginTop-40">
                        <h3>Loading...</h3></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{map_key}}"></script>
<script type="text/javascript">
$(document).ready(function() {
    console.log("Checking geolocation", navigator.geolocation.getCurrentPosition);
    var lat = "{{lat}}";
    var lang = "{{lang}}";
    var LatLng = null;
    var mapOptions = {
        center: null,
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = null;

    if (lat && lang) {
        mapOptions.center = new google.maps.LatLng(lat, lang);
        map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

        $("#lat").val(lat);
        $("#lang").val(lang);
        var marker = new google.maps.Marker({
            position: mapOptions.center,
            map: map,
            title: 'Your last marked location'
        });
        bindMapClick(map);
    } else if (navigator.geolocation) {
        console.log("Geolocation service is there.");
        navigator.geolocation.getCurrentPosition(function(p) {
            console.log("Called this with geolocation", p);
            LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
            mapOptions.center = LatLng;
            map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            var marker = new google.maps.Marker({
                position: LatLng,
                map: map,
                title: 'Your location'
            });
            bindMapClick(map);
            $("#lat").val(p.coords.latitude);
            $("#lang").val(p.coords.longitude);
        }, function() {
            var LatLng = new google.maps.LatLng('37.0902', '95.7129');
            var mapOptions = {
                center: LatLng,
                zoom: 2,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            bindMapClick(map);
            alert("Could not find your current location");

        });
    } else {
        alert('Geo Location feature is not supported in this browser.');
    }

    function bindMapClick(map) {
        google.maps.event.addListener(map, "click", function(e) {
            $("#lat").val(e.latLng.lat());
            $("#lang").val(e.latLng.lng());
        });
    }


    $("#submit").click(function(e) {
        e.preventDefault();
        makeInitSessionCall().then(addLocationChallenge).then(getQRCode).then(poll);
    });
});
</script>
